<% provide(:title, 'Charity') %>
<%= stylesheet_link_tag 'common.css' %>
<%= stylesheet_link_tag 'charity.css' %>


        <div class="p-header">
            <div id="charity" class="big-bg">
                <%= render 'layouts/header_p' %>
                    <div class="shape">
                        <h2 class="#charity page-title"><span>-</span> Charity <span>-</span></h2>
                        <div class="contents">
                                <div class="text"><p>ratio美容室は</div>
                                <div class="images">
                                    <%= image_tag 'home/ratio_logo.png', class: 'ratio-logo'%>
                                    <%= image_tag 'home/cross.png', class: 'cross'%>
                                    <%= image_tag 'home/hair_donation.png', class: 'donation-pic'%>
                                </div><!--images-->
                                <div class="text">
                                    <p>Japan Hair Donation & Charity(ジャーダック)を通じた</p>
                                    <p>社会貢献に協力しております。</p>
                                </div><!--text-->
                        </div><!--contents-->
                    </div>
            </div>
        </div>

        <div class="m-header-nav">
                <%= render 'layouts/header_m'%>
                <div id="charity" class="big-bg">
                        <div class="shape">
                            <h2 class="#charity page-title"><span>-</span> Charity <span>-</span></h2>
                            <div class="contents">
                                    <div class="text"><p>ratio美容室は</div>
                                    <div class="images">
                                        <%= image_tag 'home/ratio_logo.png', class: 'ratio-logo'%>
                                        <%= image_tag 'home/cross.png', class: 'cross'%>
                                        <%= image_tag 'home/hair_donation.png', class: 'donation-pic'%>
                                    </div><!--images-->
                                    <div class="text">
                                        <p>Japan Hair Donation & Charity(ジャーダック)を通じた</p>
                                        <p>社会貢献に協力しております。</p>
                                    </div><!--text-->
                            </div><!--contents-->
                        </div>
                </div>
        <%= render 'layouts/header_nav_m'%>
        </div>

        <div class="hd-contents">
                <div class="wrapper">
                  <h1>ヘアドネーションとは</h1>
                </div>
                <%= image_tag 'charity/charity_sample.png'%>
                <p>
                    頭皮・頭髪に関わる何らかの病気が原因で髪の毛を失い、<br>
                    <br>
                    ウィッグを必要としている子ども達に、<br>
                    <br>
                    医療用ウィッグの原料となる毛髪を間接的に提供すること。
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O6v7sdpCjbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>寄付された髪の毛は、<br>
                    <br>
                    団体によって選別・加工の工程を繰り返したのち、<br>
                    <br>
                    ウィッグとして生まれ変わり、レシピエントの元に届けられます。<br>
                    <br>
                    詳細につきましては、お気軽にご相談、お問い合わせくださいませ。
                </p>
            </div>

        <%= javascript_include_tag "common.js" %>

