<% provide(:title, 'Home') %>
<%= stylesheet_link_tag 'common.css' %>

<div class="p-header">
        <div id="home" class="big-bg">
                <%= render 'layouts/header_p'%>
        </div>
</div><!--p-header-->
<div class="m-header-nav">
        <%= render 'layouts/header_m'%>
        <div id="home-mobile" class="big-bg"></div>
        <%= render 'layouts/header_nav_m'%>
</div>
<!-- News -->
<%= render 'static_pages/home/top_news' %>

<!-- Concept -->
<%= render 'static_pages/home/concept' %>

<!-- Home-style -->
<%= render 'static_pages/home/home_style' %>

<!-- Menu -->
<%= render 'static_pages/home/menu' %>

<!-- Staff -->
<%= render 'static_pages/home/staff' %>


<!--pro-blogs-part-->
<%= render 'static_pages/home/product_and_blogs' %>

<!-- Access -->
<%= render 'static_pages/home/access' %>

<!-- Home-charity -->
<%= render 'static_pages/home/home_charity' %>

<%= javascript_include_tag "common.js" %>
<%= javascript_include_tag "index.js" %>
<%= javascript_include_tag "calender.js" %>
<%= javascript_include_tag "gcal.js" %>
<%= javascript_include_tag "bgswitcher.js" %>
<%= javascript_include_tag "bgswitcher_config.js" %>
