<% provide(:title, 'Login') %>
<%= stylesheet_link_tag 'common.css' %>
<%= stylesheet_link_tag 'sessions.css' %>

<style>

#pageTop,footer{
  display:none;
}
</style>
<div class="m-header-nav">
    <%= render 'layouts/header_m'%>
    <%= render 'layouts/header_nav_m'%>
</div>

<div id="formWrapper">
<div class="p-header">
    <div id="login">
            <%= render 'layouts/header_p'%>
    </div>
</div><!--p-header-->

  <div id="form">
    <h1>Login</h1>
    <%= render 'sessions/alert' %>

    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-item">
      <p class="formLabel">Email</p>
      <%= f.email_field :email, class: 'form-style form-control',autocomplete: 'off' %>
      </div>

      <div class="form-item">
      <p class="formLabel">Password</p>
      <%= f.password_field :password, class: 'form-style form-control' %>
      </div>

      <div class="check-wrapper">
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン状態を保持する</span>
      <% end %>
      </div>
      <%= f.submit "Log in", class: "login pull-right" %>
    <% end %>
  </div>
</div>


<%= javascript_include_tag "common.js" %>
<%= javascript_include_tag "sessions.js" %>