<article>
    <header class="post-info">
        <h2 class="post-title"><%= @article.title %></h2>
        <p class="post-date"><%= l @article.created_at %></p>
    </header>
    <div class="post-content"><%== @article.content %></div>
    <div class="post-cat">
        <p>カテゴリー</p>
        <% unless @article.categories.blank? %>
        <ul>
            <% @article.categories.each do |category| %>
            <li>
                <%= link_to category.name,articles_path(category_id:category.id) %>
            </li>
        <% end %>
        </ul>
            <% end %>
    </div>
    <%= render 'articles/edit_icons', object: @article %>
</article>