<article>
    <header class="post-info">
        <h2 class="post-title"><%= article.title %></h2>
        <p class="post-date"><%= l article.created_at %></p>
    </header>
    <div class="post-content"><%== article.content %></div>
    <div class="post-cat">
        <%= render 'articles/article_category', object: article %>
    </div>
    <%= render 'articles/show_icon', object: article %>
</article>
