<%#<% provide(:url, product_path) %>
<% provide(:button_text, '編集を保存') %>


<div class="js-form-close"><i class="fa fa-times-circle"></i></div>
<div id="loading" style="display:none;"><%= image_tag 'shared/loading.gif' %></div>
<div class="wrapper">
    <h1 class="form-title">商品編集</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product,remote: true) do|f| %>

    <%= render'shared/error_messages',object: f.object %>

    <div class="form-group">
        <%= f.label "商品名" %>
        <%= f.text_field :name ,class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label "値段" %>
        <%= f.text_field :price ,class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label "説明" %>
    <%= f.text_area :description ,class: 'form-control' %>
    </div>

     <%= f.label '画像' %>

      <div id="img_field">
          <span class="form-preview"><%= image_tag(@product.picture)%><span>
      </div>

    <%= f.submit yield(:button_text), class: "submit-btn" %>
    <% end %>
    </div>
    </div>
</div>
