<%= form_for(@product, url: yield(:url)) do|f| %>
    <%= render'shared/error_messages',object: f.object %>

    <div class="form-group">
        <%= f.label "商品名" %>
        <%= f.text_field :name ,class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label "値段" %>
        <%= f.text_field :price ,class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label "説明" %>
    <%= f.text_area :description ,class: 'form-control' %>
    </div>

    <span class="picture">
    <%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= f.hidden_field :picture_cache %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>