<% if false %>
<div id="modal-1" class="modal js-modal">
    <div class="modal-bg js-modal-close"></div>
    <div class="modal-content">
        <div class="close-btn js-modal-close"><i class="fa fa-times-circle"></i></div>
        <%= image_tag 'product/product1.jpg'%>
        <h1>「すごい化粧品」<h1>
        <p class="price">¥5000</p>
        <p class="description">どんな肌でもでもすべっすべになる。どんな肌でもでもすべっすべになる。どんな肌でもでもすべっすべになる。どんな肌でもでもすべっすべになる。どんな肌でもでもすべっすべになる。</p>
    </div>
</div>
<% end %>

<%# モデルが完成したら導入　%>

<% @products.each do |product|%>
<div id="modal-<%= product.id %>" class="modal js-modal">
    <div class="modal-bg js-modal-close"></div>
    <div class="modal-content">
        <div class="close-btn js-modal-close"><i class="fa fa-times-circle"></i></div>
        <%= image_tag product.picture %>
        <h1><%= product.name %><h1>
        <p class="price"><%= product.price %></p>
        <p class="description"><%= product.description %></p>
    </div>
</div>
<% end %>

