<% provide(:title, 'Product') %>
<% provide(:new, new_product_path) %>
<%= stylesheet_link_tag 'common.css' %>
<%= stylesheet_link_tag 'products.css' %>
<%= stylesheet_link_tag 'form.css' %>

    <div class="p-header">
        <div id="product">
                <%= render 'layouts/header_p'%>
        </div>
    </div><!--p-header-->
    <div class="m-header-nav">
        <%= render 'layouts/header_m'%>
        <%= render 'layouts/header_nav_m'%>
    </div>

    <h2 class="page-title"><span>-</span> Product <span>-</span></h2>
    <p class="title-sub-text">sample美容室オススメの商品をご紹介します。</p>
    <div class="wrapper">

    <%= image_tag 'product/top-image.png' ,class: 'top-image' %>
    </div>
    <p class="post-explain-text">下の画像をクリックすると商品の詳細がモーダルウィンドウで表示</p>
    <p class="post-explain-text">ログイン時、モーダルにコンテンツの編集、削除アイコンが表示されます。</p>
    <p class="post-explain-text">ログイン時、左下の<span></span>のボタンは、新規投稿ボタンです。</p>
    <div class="pro-contents">
    <% if @products %>
        <div class="grid">
                <%= render @products %>
        </div>
        <%= will_paginate @products, previous_label: '<', next_label: '>', inner_window: 1 %>
    </div>
    <% end %>
    <% if logged_in? %>
    <%= render 'layouts/new_btn'%>

    <div id="new-form">
    <%= render 'products/new_form_js' %>
    </div>
    <div id="edit-form">
    <%= render 'products/edit_form_js' %>
    </div>

    <div id="post-success-msg"></div>
    <% end %>

<%= javascript_include_tag "common.js" %>
<%= javascript_include_tag "product.js" %>
