<% provide(:title, 'Product') %>
<%= stylesheet_link_tag 'common.css' %>
<%= stylesheet_link_tag 'products.css' %>

    <div class="p-header">
        <div id="product">
                <%= render 'layouts/header_p'%>
        </div>
    </div><!--p-header-->
    <div class="m-header-nav">
        <%= render 'layouts/header_m'%>
        <%= render 'layouts/header_nav_m'%>
    </div>

    <h2 class="page-title"><span>-</span> Product <span>-</span></h2>
    <p class="title-sub-text">ratio美容室オススメの商品をご紹介します。</p>
    <div class="wrapper">

    <%= image_tag 'product/kaeru_sample.JPG' ,class: 'top-image' %>
    </div>

    <div class="pro-contents">
            <div class="grid">
                    <%= render 'products/item'%>
                    <%= render 'products/modal'%>

                    <div class="item">
                        <%= image_tag 'product/product2.jpg'%>
                        <p>写真キャプション写真キャプション</p>
                    </div>
                    <div class="item">
                        <%= image_tag 'product/product3.jpg'%>
                        <p>写真キャプション写真キャプション</p>
                    </div>
                    <div class="item">
                        <%= image_tag 'product/product4.jpg'%>
                        <p>写真キャプション写真キャプション</p>
                    </div>
                    <div class="item">
                        <%= image_tag 'product/product5.jpg'%>
                        <p>写真キャプション写真キャプション</p>
                    </div>
                    <div class="item">
                        <%= image_tag 'product/product6.jpg'%>
                        <p>写真キャプション写真キャプション</p>
                    </div>
                </div>
    </div>

<%= javascript_include_tag "common.js" %>
<%= javascript_include_tag "product.js" %>