<div id="home-style">
    <div class="wrapper">
            <h2 class="page-title effect-fade-down"><span>-</span>Style<span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="wrapper grid">
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample1.jpg'%>
            </div>
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample2.jpg'%>
            </div>
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample3.jpg'%>
            </div>
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample4.jpg'%>
            </div>
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample5.jpg'%>
            </div>
            <div class="item home-img-fade-up">
                <%= image_tag 'home/model_sample6.jpg'%>
            </div>
    </div><!--wrapper grid-->
</div><!--style-->