 <% if @blogs.any? %>
<div class="pro-news-wrapper">
    <div id="product-part">
        <div class="wrapper">
            <h2 class="page-title"><span>-</span>Product<span>-</span></h2>
        </div><!--/.wrapper-->
        <div class="contents">
            <p>ratio美容室オススメの商品をご紹介します。</p>
            <%= image_tag 'home/product_image.JPG'%>
            <%= link_to products_path do %>
            <div class="detail-btn">
            詳細はこちら
            </div>
            <% end %>
        </div><!--contents-->
    </div><!--product-part-->

    <div id="news-part">
        <div class="wrapper">
            <h2 class="page-title"><span>-</span>Blog<span>-</span></h2>
        </div><!--/.wrapper-->
        <ul class="posts">
        <% @blogs.each do |blog|%>
            <%= link_to article_path(blog) do %>
                <li>
                    <div class="post-cont-wrapper">
                        <div class="post-image"><%== blog_thumb(blog.content) %></div>
                        <div class="post-body">
                            <div class="post-meta"><%= l blog.created_at %></div>
                            <div class="post-title"><span><%= blog.title %></span></div>
                        </div>
                    </div>
                </li>
            <% end %>
        <% end %>
        </ul><!--posts-->
    </div><!--news-part-->
</div><!--pro-news-part-->
<% end %>