<nav>
    <ul class="main-nav">
        <li><%= link_to 'News', articles_path %></li>
        <li><%= link_to 'Style', styles_path %></li>
        <li><%= link_to 'Product', products_path %></li>
        <% if logged_in? %>
        <li>
            <%= link_to "Log out", logout_path, method: :delete %>
        </li>
        <% else %>
         <li>
            <%= link_to "Log in", login_path %>
        </li>
        <% end %>
    </ul><!--main-nav-->
</nav>