<nav>
    <ul class="main-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'News', '#' %></li>
        <li class="menu__single"><a>About</a>
            <ul class="menu__second-level">
                <li><%= link_to 'Concept', root_path(anchor: 'concept')%></li>
                <li><%= link_to 'Staff', root_path(anchor: 'staff')%></li>
            </ul>
        </li>
        <li><%= link_to 'Menu', root_path(anchor: 'menu')%></li>
        <li><%= link_to 'Style', '#'%></li>
        <li><%= link_to 'Product', product_path %></li>
        <li><%= link_to 'Access', root_path(anchor: 'access')%></li>
    </ul><!--main-nav-->
</nav>